/* CSS for index.html(Weather App) */
body{
    font-style:Arial,sans-serif;
    background:linear-gradient(to right,#83a4d4,#b6fbff);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.weather-container{
    background-color:white;
    padding:60px;
    padding-top:10px;
    text-align:center;
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}

input{
    padding:10px;
    margin-top:20px;
    margin-right:20px;
    border-radius:5px;
}

button{
    padding:10px;
    background-color:#0077ff;
    color:white;
    border:none;
    font-size:16px;
    border-radius:7px;
}

#weatherResult img{
    width:80px;
    height:80px;
    background:linear-gradient(to right,#83a4d4,#b6fbff);
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}

.hidden{
    display:none;
}

